* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  position: relative;
  height: 99vh;
  width: 99vw;
  background-image: url('../img/background.jpg');
  background-size: cover;
}

h2 {
  text-align: center;
  color: #0008;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  margin: 40px auto;
  background-color: #fff8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 2px #0004;
}

.resultado-adulto, .resultado-infantil {
  display: none;
  margin: 20px 0;
  background-color: green;
  border-radius: 8px;
  padding: 5px;
}

form input, select, form label, form button {
  display: block;
  margin-bottom: 8px;
  outline: none;
  border: none;
}

form input, select {
  font-size: 20px;
  padding: 4px;
  border-radius: 8px;
  background-color: #0003;
}

.input-button, .infantil-input-button {
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 30px;
  width: 90px;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.arrange-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.arrange-buttons input{
  background-color: #0003;
  outline: none;
  border: none;
}

.arrange-buttons input:hover{
  background-color: #0008;
}

.arrange-inputs{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.wdt{
  font-size: 1.4rem;
}

.imc-resultado {
  text-align: center;
}

.imc-figure img {
  display: inline-flex;
  justify-content: center;
  padding: 2px;
  width: 140px;
}

.child img {
  display: inline-flex;
  justify-content: center;
  padding: 2px;
  width: 50px;
}

.adulto-section {
  display: block;
}

.infantil-section {
  display: none;
  flex-direction: column;
}

/* Radio buttons Adulto/Infantil */
.categoria {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #0002;
  border-radius: 8px;
  padding: 10px;
}