* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  position: relative;
  height: 99vh;
  width: 99vw;
  background-image: url('/tree/main/assets/img/background.jpg');
  background-size: cover;
}

h1 {
  text-align: center;
  color: #0008;

  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  margin: 40px auto;
  background-color: #fff8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 2px #0004;
}

.resultado {
  display: none;
  margin: 20px 0;
  background-color: green;
  border-radius: 8px;
  padding: 5px;
}

form input, form label, form button {
  display: block;
  margin-bottom: 8px;
}

form input {
  font-size: 20px;
  padding: 4px;
  border-radius: 8px;
}

.input-button {
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 30px;
  width: 90px;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  background: var(--primary-color-darker);
}

table {
  margin-top: 15px;
  padding: 5px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(211, 211, 211, 0.6);
  font-size: 14px;
}

.arrange-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.arrange-buttons input{
  background-color: #0003;
  outline: none;
  border: none;
}

.arrange-buttons input:hover{
  background-color: #0008;
}

.arrange-inputs{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tsr{
  text-align: right;
}

.wdt{
  font-size: 1.4rem;
}

.imc-resultado {
  text-align: center;
}

.imc-figure img {
  display: inline-flex;
  justify-content: center;
  padding: 2px;
  width: 40px;
}